body {
    background-color: white;
}

body #err-panel,
body #submitok-panel
{
    display:none;
    background-position: left 2em;
    background-repeat: no-repeat;
    padding-left:30px;
    margin:0 1em;
}
#err-panel {
    background-image: url('../img/notok.png')
}
#submitok-panel {
    background-image: url('../img/ok.png')
}

body #load-panel {
    display:none;
    text-align:center;
}

body.error #err-panel {
    display:block;
}
body.error #note-panel {
    display:none;
}

body.load #note-panel,
body.save #note-panel {
    display:none;
}

body.load #load-panel,
body.save #load-panel {
    display:block;
}

body.load #msg-load,
body.save #msg-save {
    display:block;
}

body.save #msg-load,
body.load #msg-save {
    display:none;
}

body.ok #submitok-panel {
    display:block;
}
body.ok #note-panel {
    display:none;
}


#new-board-form {
    display:none
}

#board-fields.newboard #select-board {
    display:none;
}
#board-fields.newboard #new-board-form {
    display: block;
}

h1 {
    margin: 5px 1em;
    font-size:1.1em;
    text-transform: uppercase;
}

#note-panel th {
    text-align: right;
}

#note-panel th.top {
    vertical-align:top;
}

#note-form > table {
    width:100%;
}
#img-container img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #8592a1;
}

#img-container div.aucune {
    background-color: #ddd;
    display: inline-block;
    vertical-align: top;
    /*padding-top: 31px;*/
    text-align: center;
    border: 1px dashed #888;
    color: #666;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
}

#img-container .selected {
    border: 2px solid #0fbd2b !important;
}

