body {
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: white;
    margin:0;
    font-family: "Segoe UI",Helvetica,"Droid Sans",Arial,sans-serif;
    font-size:0.9em;
}

body > div {
    padding:1em 1.5em;
}

.button {
    -moz-appearance: none;
    display: inline-block;
    line-height: 28px;
    padding: 4px 12px 5px;
    margin: 5px;
    background-color: rgba(128,130,132,.1);
    border-radius: 3px;
    transition: all .3s ease 0s;
    color: #6D6C6C;
    font-size: 14px;
    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;
    font-family: "Segoe UI",Helvetica,"Droid Sans",Arial,sans-serif;
    text-transform: none;
    border: 0;
}

.button:hover  {
    background-color: rgba(128,130,132,.12);
    transition: all ease 0s;
}

.button-grey {
    background-color: #e1e1e1;
    box-shadow: 1px -8px 14px -16px rgba(115,117,119,.5) inset;
    color: #808284;
}

.button-grey:hover {
    color: #393b3d;
    background-color: #d7d7d7;
    transition-duration: .22s;
}

.button-blue {
    color: #fff;
    background-color: #1f98f6;
}

.button-blue:hover {
    background-color: #1588e2;
    transition-duration: .12s;
}

.bigbutton {
    border-radius: 20px;
    border: 0px transparent;
    background-color:#228bea;
    color: white;
    text-align:center;
    padding: 0.5em 2em;
    font-weight:bold;
    margin:1em 1em;
}

.fakelink {
    border: 0px transparent;
    background-color:transparent;
    text-align:center;
}

.fakelink::before {
    content :"> ";
    color: #aeafb0;
}

input[type="text"],
input[type="password"],
textarea {
    -moz-appearance: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c8cacc;
    box-shadow: inset 1px 3px 5px -3px rgba(110,112,114,.3);
    margin: 6px 0;
}

/* ------ switch --------- */


input.switch:empty
{
    margin-left: -999px;
    width:0;
    margin-right:0;

}

input.switch:empty ~ label
{
    position: relative;
    float: left;
    text-indent: 4em;
    margin: 0em 0 0em -1em;
    cursor: pointer;
    -moz-user-select: none;
}

input.switch:empty ~ label:before
{
    position: absolute;
    display: block;
    top: 3px;
    bottom: 3px;
    right: -3.5em;
    content: ' ';
    width: 2.8em;
    background-color: #F49AC1;
    border-radius: 10px;
    transition: all 100ms ease-in;
}



input.switch:empty ~ label:after
{
    position: absolute;
    display: block;
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    right: -3.5em;
    content: ' ';
    background-color: #228bea;
    transition: all 100ms ease-in;
    margin-left: 0.1em;
    border-radius: 15px;
    margin-right: 1.4em;
}

input.switch:checked ~ label:before
{
    background-color: #7EFCCC;
}

input.switch:checked ~ label:after
{
    margin-right: 0em;
}

