body {
    background-color: white;
}

body #err-panel,
body #submitok-panel
{
    display:none;
    background-position: left 2em;
    background-repeat: no-repeat;
    padding-left:30px;
    margin:0 1em;
}
#err-panel {
    background-image: url('../img/notok.png')
}
#submitok-panel {
    background-image: url('../img/ok.png')
}

body #load-panel {
    display:none;
    text-align:center;
}

body.error #err-panel {
    display:block;
}
body.error #bookmark-panel {
    display:none;
}

body.load #bookmark-panel,
body.save #bookmark-panel {
    display:none;
}

body.load #load-panel,
body.save #load-panel {
    display:block;
}

body.load #msg-load,
body.save #msg-save {
    display:block;
}

body.save #msg-load,
body.load #msg-save {
    display:none;
}

body.ok #submitok-panel {
    display:block;
}
body.ok #bookmark-panel {
    display:none;
}

h1 {
    margin: 5px 1em;
    font-size:1.1em;
    text-transform: uppercase;
}

#bookmark-form > div {
    display:flex;
    flex-direction:column;
}

#bookmark-form > div.buttons-footer {
    display:block;
    text-align:center;
}
 
#url-field,
#name-field {
    flex: 1 1 auto;
}


