#login-panel {
    border-radius: 15px;
    border: 1px solid #EAEAEA;
    text-align:center;
    margin: 0 0 1em 0;
}
#login-panel legend {
    color: #EAEAEA;
    padding-left: 1em;
    padding-right: 1em;
}
#login-panel .fakelink {
    color: #59a9e5
}
