.account {
	margin:16px 0;
}
.account__title {
	font-family: "source_sans_prolight";
	font-weight: 200;
	font-size: 27px;
	color: rgb(77, 84, 92);
	margin: 0 0 8px;
}

.account__profile, .account__settings, .account__profile:visited, .account__settings:visited, .account__profile:active, .account__settings:active {
	color: rgb(77, 84, 92);
}

.account__profile:hover, .account__settings:hover {
	text-decoration: underline;
}

.account__settings {
	font-size: 14px;
}

.account__avatar {
	height: 64px;
	width: 64px;
	display: inline-block;
	border-radius: 32px;
}

.account__informations {
	display: inline-block;
	padding: 0 0 0 13px;
	vertical-align: top;
}

.account__username, .account__boards, .account__bookmarks,
.account__username:active, .account__boards:active, .account__bookmarks:active,
.account__username:visited, .account__boards:visited, .account__bookmarks:visited {
	color: rgb(74, 76, 78);
}

.account__username {
	display: block;
	font-family: 'source_sans_prosemibold';
	font-size: 19px;
}
.account__boards, .account__bookmarks {
	display: block;
	color: rgb(74, 76, 78);
	text-align: center;
	transition: text-decoration ease 300ms;
}
.account__boards:hover, .account__bookmarks:hover {
	text-decoration: underline;
	 transition: text-decoration ease 300ms;
}

.account__boards__icon {
	vertical-align: top;
	margin: -1px 4px 0 0;
}
.account__bookmarks__icon {
	margin: 0 4px 0 0;
}
.account__bookmarks__icon  {
	vertical-align: top;
	margin: 1px 4px 0 0;
}
.account__boards_text, .account__bookmarks_text {
	font-size: 13px;
	line-height: 21px;
}


.buttons {
	margin: auto;
}